NODE_ENV=test
PORT=3001
DATABASE_URL="postgresql://postgres:12qw34er@localhost:5432/Cinema"
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=test-secret-test-secret-test-secret-123
GOOGLE_CLIENT_ID=test-google-client-id
FRONT_URL=http://localhost:3000
API_PUBLIC_URL=http://localhost:3001
UPLOADS_DIR=uploads-test
LIQPAY_PUBLIC_KEY=test_public_key
LIQPAY_PRIVATE_KEY=test_private_key
LIQPAY_CURRENCY=UAH
LIQPAY_SANDBOX=true
LIQPAY_REFUND_MODE=mock
